<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="/css/materialize.min.css" rel="stylesheet">
<link href="/css/lobby.css" rel="stylesheet">
<link href="/css/Inconsolata.css" rel="stylesheet" type="text/css">
<link href="/css/MaterialIcons.css" rel="stylesheet">
<title>Mafia</title>
<link rel="stylesheet" href="/css/room.css">


<script src="/js/core-min.js"></script>
<script src="/js/md5-min.js"></script>
<script src="/js/color-hash.js"></script>
<script src="/js/pnglib.js"></script>
<script src="/js/identicon.js"></script>

<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/socket.io.min.js"></script>
<!-- <script src="./js/app.js"></script> -->

<style>
#closer {
float: right;
display:inline-block;
cursor:pointer;
height: 35px;
text-align: center;
font-size: 29px;
width: 15%;
}
	
	.bg-white {
		background-color: white !important;
	}
	.col.s12 {
		height: 100%;
		width: 300px;
	}
	.carousel .carousel-item {
		width: 100%;
		height: 100%;
	}
	.profile-sm {
		width: 30px;
		vertical-align: middle;
		margin: 0 7px 0 12px;
	}
	.side-nav li.profile {
		line-height: 35px;
	}
	.profile span {
		font-weight: bold;
	}
</style>
</head>
<body>

	<ul id="slide-out" class="side-nav">
		<li>
			<div class="userView">
				<div class="background">
					<img src="images/office.jpg">
				</div>
				<a href="#!user"><img id="user_identicon" class="circle" src="images/yuna.jpg"></a>
				<a href="#!name"><span class="white-text name">이름: <%= name %></span></a>
				<a href="#!birth"><span class="white-text email">생년월일: <%= birth %></span></a>
			</div>
		</li>
		<li><a class="subheader">상태 관리</a></li>
		<li><a href="/ajax/logout"><i class="material-icons">replay</i>방 나가기</a></li>
		<li><div class="divider"></div></li>
		<li><a class="subheader">게임 하기</a></li>
		<li><a class="waves-effect"><i class="material-icons">play</i>게임 시작</a></li>
		<li><a class="subheader user-list-header">참가자 리스트 (<span id="member_number">#</span>/999)</a></li>
		<li class="profile"><img class="circle profile-sm" src="images/yuna.jpg"> <span>정한길</span></li>
	</ul>
	
<!-- 	
	<ul id="tabs-swipe-demo" class="tabs">
		<li class="tab col s3"><a href="#test-swipe-1">Test 1</a></li>
		<li class="tab col s3"><a class="active" href="#test-swipe-2">Test 2</a></li>
		<li class="tab col s3"><a href="#test-swipe-3">Test 3</a></li>
	</ul>
	<div id="test-swipe-1" class="col s12 blue">Test 1</div>
	<div id="test-swipe-2" class="col s12 red">Test 2</div>
	<div id="test-swipe-3" class="col s12 green">Test 3</div>
	 -->
	
	
	<div id="container">

		<div id="header">
			<i class="material-icons" style="padding:5px;">schedule</i>
			<i class="material-icons button-collapse" data-activates="slide-out" style="padding:5px;">menu</i>
			
		</div>

		<div id='chat'></div>
		
		<div id="footer">
			<div class="row">
				<form id="send-form">
					<input id="content" autocomplete="off" type="text" class="bg-white" />
					<button id='send-btn' style='float:right;width:58px;'>보내기</button>
				</form>
			</div>
		</div>
	</div>

	<script>
	$(document).ready(function(){
		var room_no = <%= room_no %>;
		var user_id = "<%= user_id %>";
		$('ul.tabs').tabs({
			swipeable: true,
			responsiveThreshold: 400
		});
		
		$('.button-collapse').sideNav({
			menuWidth: 300, // Default is 300
			edge: 'left', // Choose the horizontal origin
			closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
			draggable: true // Choose whether you can drag to open on touch screens
		});
		
		var update_user_list = function() {
			$.get('/ajax/joined_user_list', {
				no: room_no
			}, function(res) {
				var html = '';
				
				if (res.error) {
					alert(res.error);
				} else if (res.result) {
					var user_list = res.data;
					$('.profile').remove();
					$('#member_number').text(user_list.length.toString());
					
					user_list.map(function(user_id) {
						if (user_id) {
							var name = user_id.split('(').shift();
							var hash = CryptoJS.MD5(user_id).toString();
							var img_data = new Identicon(hash, 50).toString();
							html += ['<li class="profile">',
								'<img class="circle profile-sm" src="data:image/png;base64,',
									img_data,
								'" data-user_id="' + user_id + '">',
							 '<span>' + name + '</span></li>'
							].join('');
						}
					});
					$('.user-list-header').after($(html));
				}
			});
		};
		update_user_list();
		
		///////////////////
		// var socket = io();
		window.socket = io();
		var last_sender = null;
		var avatar_type = 'identicon';
		function showMessage(message) {
			var avatar_box = createIdenticonAvatar( message.username );
			var who = ( $("#username").val() == message.username )? 'mine' : 'others';
			var sender_visible = ( last_sender == message.username )? 'sender-hidden' : 'sender-show';

			$('#chat').append(
				$('<div class="message">').addClass(who).addClass(sender_visible)
					.append( avatar_box )
					.append( $('<div class="text-box">')
						.append( $('<div class="username-box">' ).text( message.username ) )
						.append( $('<div class="content-box">')
							.append($('<span>').text(message.content))
						)
					)
			);
			$("#chat")[0].scrollTop = $("#chat")[0].scrollHeight;
			last_sender = message.username;
		}
		
		function showSysMsg (msg) {
			$('#chat').append(
				$('<div class="message sys-info">')
					.append( $('<div class="text-box">')
						.append ( $('<div class="content-box">')
							.append($('<span>').text(msg))
					)
				)
			);
			$("#chat")[0].scrollTop = $("#chat")[0].scrollHeight;
			last_sender = 'system_notice';	
		}
		// function randomUsername() {
		// 	var text = "";
		// 	var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
		// 	for (var i = 0; i < 5; i++)
		// 		text += possible.charAt(Math.floor(Math.random() * possible.length));
		// 	return text;
		// }
		
		function createLetterAvatar( username ) {
			var colorHash = new ColorHash({ lightness: 0.5, saturation: 0.7 });
			var color = colorHash.hex( username );
			var initial = username.charAt(0);
			return $('<div class="avatar-box">')
				.append( $('<div class="photo lavatar">').css('background', color).text(initial) );
		}
		
		function createIdenticonAvatar( username ) {
			var hash = CryptoJS.MD5(username).toString();
			var img_data = new Identicon(hash, 50).toString();
			return $('<div class="avatar-box">')
				.append( $('<img class="photo">').attr('src', "data:image/png;base64," + img_data) );
		}

		$(function () {
			$("form").submit( function (e) { e.preventDefault(); });
			$('#send-btn').click(function () { send(); });
			socket.emit('join_room', { 
				room_no: room_no
			});
			//debug!!
			socket.on('tt', function(a){console.log(a)});
			socket.on('message', function (message) { showMessage(message); });
			socket.on('sys_message', function (msg) { showSysMsg(msg); });
			$('#content').focus();
		});
		function send() {
			var input = $('#content');
			if (!input.val()) {
				return;
			}
			socket.emit('message', {
				// 'username' : user_id,
				'content' : input.val()
			});
			input.focus();
			input.val('');
		}
		///////////////////
	});
	</script>
  </body>
</html>