<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="/css/materialize.min.css" rel="stylesheet">
<link href="/css/lobby.css" rel="stylesheet">
<link href="/css/Inconsolata.css" rel="stylesheet" type="text/css">
<link href="/css/MaterialIcons.css" rel="stylesheet">
<title>Mafia</title>
<link rel="stylesheet" href="/css/room.css">


<script src="/js/core-min.js"></script>
<script src="/js/md5-min.js"></script>
<script src="/js/color-hash.js"></script>
<script src="/js/pnglib.js"></script>
<script src="/js/identicon.js"></script>

<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/socket.io.min.js"></script>
<!-- <script src="./js/app.js"></script> -->

<style>
#closer {
float: right;
display:inline-block;
cursor:pointer;
height: 35px;
text-align: center;
font-size: 29px;
width: 15%;
}
	
	.bg-white {
		background-color: white !important;
	}
	.col.s12 {
		height: 100%;
		width: 300px;
	}
	.carousel .carousel-item {
		width: 100%;
		height: 100%;
	}
	.profile-sm {
		width: 30px;
		vertical-align: middle;
		margin: 0 7px 0 12px;
	}
	.side-nav li.profile {
		line-height: 35px;
	}
	.profile span {
		font-weight: bold;
	}
	.profile label {
		vertical-align: middle;
	}
</style>
</head>
<body>

	<ul id="slide-out" class="side-nav">
		<li>
			<div class="userView">
				<div class="background">
					<img src="images/office.jpg">
				</div>
				<a href="#!user"><img id="user_identicon" class="circle" src="images/yuna.jpg"></a>
				<a href="#!name"><span class="white-text name">이름: <%= name %></span></a>
				<a href="#!birth"><span class="white-text email">생년월일: <%= birth %></span></a>
			</div>
		</li>
		<li><a class="subheader">상태 관리</a></li>
		<li><a href="/lobby"><i class="material-icons">replay</i>방 나가기</a></li>
		<li><div class="divider"></div></li>
		<% if (is_room_leader) { %>
		<li><a class="subheader">방장 매뉴</a></li>
		<li class="game_launch"><a class="waves-effect" href="#game-start-modal"><i class="material-icons">play_arrow</i>게임 시작</a></li>
		<li class="game_proceed"><a class="waves-effect"><i class="material-icons">fast_forward</i>게임 진행</a></li>
		<% } %>
		<li><a class="subheader user-list-header">참가자 리스트 (<span id="member_number">#</span>/999)</a></li>
		<li class="profile"><img class="circle profile-sm" src="images/yuna.jpg"> <span>정한길</span></li>
	</ul>
	
	<div id="container">

		<div id="header">
			<i class="material-icons" style="padding:5px;">schedule</i>
			<i class="material-icons button-collapse" data-activates="slide-out" style="padding:5px;">menu</i>
			
		</div>

		<div id='chat'></div>
		
		<div id="footer">
			<div class="row">
				<form id="send-form">
					<input id="content" autocomplete="off" type="text" class="bg-white" />
					<button id='send-btn' style='float:right;width:58px;'>보내기</button>
				</form>
			</div>
		</div>
	</div>
	
	<!-- Modal Structure -->
	<div id="game-start-modal" class="modal">
		<div class="modal-content">
			<h4>직업 수 정하기</h4>
			<p>
				아래 스크롤을 끌어서 직업 별 인원수를 정해주세요.
			</p>
				<p class="range-field">
					마피아<input type="range" id="mafia_num" min="1" max="5" value="2" />
					경찰<input type="range" id="police_num" min="0" max="5" value="1" />
					의사<input type="range" id="doctor_num" min="0" max="5" value="1" />
				</p>
			<!-- </form> -->
		</div>
		<div class="modal-footer">
			<div id="game_start" class="modal-action modal-close waves-effect waves-green btn-flat">게임 시작</div>
			<div class="modal-action modal-close waves-effect waves-green btn-flat">취소</div>
		</div>
	</div>
	<!-- Modal Structure End -->

	<script>
		var room_no = <%= room_no %>;
		var user_id = "<%= user_id %>";
	</script>
	<script src="/js/room.js"></script>
  </body>
</html>